@media only screen and (max-width: $screen-xs-max) and (orientation:landscape) {

    .hide-in-landscape-mobile {
        display: none;
    }

    .show-in-landscape-mobile {
        display: block;
    }

    .show-in-portrait-mobile {
        display: none;
    }
}

@media only screen and (max-width: $screen-xs-max) and (orientation:portrait) {

    .show-in-landscape-mobile {
        display: none;
    }


    .hide-in-portrait-mobile {
        display: none;
    }

    .show-in-portrait-mobile {
        display: block;
    }
}

.anim-fade {
    &.ng-hide {
        opacity: 0;
    }
    &.ng-hide-add {
        transition: opacity 400ms;
    }
    &.ng-hide-remove {
        transition: opacity 400ms;
    }
}

.img-responsive {
    &.img-scale {
        width: 100%;
    }
}