h1 {
	font-family: "CarlsbergBold";
}

p {
    font-family: "CarlsbergRegular";
}

ol {
    padding-left: 23px;
    margin-bottom: 0;
    li {
        margin-bottom: 10px;
        padding-left: 5px;
    }
}
