@using noerd.Web.Extensions

@{
	ViewBag.Title = "Index";
}

<div class="container outer-container" ng-controller="FormCtrl">
	<div class="row intro-text">
		<div class="col-md-12">
			<img src="/images/logo.png" class="logo" />
		</div>
		<div class="col-md-offset-3 col-md-6" ng-if="formFlow > 0 && formFlow < 3">
			<h2>Kære kollega!</h2>
			<p>
				Vi vil gerne holde en fest sammen med dig.<br />
				Derfor vil vi gerne invitere alle i Carlsberg Danmark til <b>"Vores Carlsberg"</b>.
			</p>
			<p>
				<b>"Vores Carlsberg"</b> er helt specielt til dig og alle dine kollegaer, og vi håber derfor, at du vil være med til at fejre dig selv – og ikke mindst dine kollegaer – for vi er alle en del af <b>"Vores Carlsberg"</b> og uden ’Vi’ er der ingen ’Vores’!
			</p>
			<p>
				Festen foregår i Fredericia Messecenter d. 1. april 2017 og starter kl. 17.30.
			</p>
		</div>
	</div>

	<form name="form" novalidate>
		<div ng-if="formFlow > 0 && formFlow < 3">
			<div class="row">
				<div class="col-md-offset-1 col-md-3">
					<label>Dit fornavn</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper validation">
						<input type="text" maxlength="25" required ng-disabled="formFlow === 2" ng-change="change()" ng-model="guest.firstname" />
						<div class="req">*</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-1 col-md-3">
					<label>Medarbejdernr.</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper validation">
						<input type="text" maxlength="6" required ng-disabled="formFlow === 2" ng-change="change()" ng-model="guest.employeeno" />
						<div class="req">*</div>
					</div>
				</div>
			</div>

		</div>

		<div ng-if="formFlow === 1">
			<div class="row">
				<div class="col-md-offset-3 col-md-6 login-error" ng-if="loginError">
					<p>
						Vi kunne ikke finde dig i medarbejderlisten.<br />
						Check at medarbejdernummer og navn er indtastet korrekt.
					</p>
					<p>
						Har du fortsat problemer, så kontakt Julie Drewsen på <a href="mailto:kontakt@vorescarlsberg.nu">kontakt@vorescarlsberg.nu</a> eller tlf. 31 34 31 52
					</p>
				</div>
			</div>
			<div class="row buttons buttons-1">
				<div class="col-sm-6 ">
					<input type="submit" class="btn btn-primary" value="Ja, jeg vil gerne komme!" ng-click="submitForm(true)" />
				</div>
				<div class="col-sm-6 ">
					<input type="submit" class="btn btn-default" value="Æv, jeg kan ikke komme" ng-click="submitForm(false)" />
				</div>
			</div>
		</div>
	</form>

	<form name="form2" id="step2" novalidate>
		<div ng-if="formFlow > 1 && formFlow < 3">
			<div class="row step2-intro">
				<div class="col-md-offset-3 col-md-6">
					<h3>Hej {{guest.firstname}}!</h3>
					<p>
						Først har vi brug for lidt praktisk fra dig:
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>Dit telefonnummer</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper validation">
						<input type="text" required maxlength="8" ng-change="change()" ng-model="guest.phoneNo" />
						<div class="req">*</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<label>Jeg vil gerne med bus (ud):</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper validation">
						<select required ng-model="guest.busOut">
							<option value="">Vælg...</option>
							<option>Jeg sørger selv for transport til festen</option>
							<option>Bus fra Carlsberg Danmark A/S, Kbh. V kl. 13:45</option>
							<option>Bus fra Carlsberg Danmark A/S Terminal ØST, Taastrup kl. 14:15</option>
							<option>Bus fra Nørretorv 57, 4100 Ringsted</option>
							<option>Bus fra Trafikcenter Alle 4, 4200 Slagelse</option>
							<option>Bus fra Sivmosevænget 2, 5260 Odense – Afkørsel 50 kl. 15.30</option>
							<option>Bus fra Søndre Saltumvej, Saltum kl. 12:45</option>
							<option>Bus fra Aalborg Banegård kl. 13:15</option>
							<option>Bus fra Aarhus Banegård kl. 15:15</option>
						</select>
						<div class="req">*</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>Jeg vil gerne med bus (hjem):</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper validation">
						<select required ng-model="guest.busHome">
							<option value="">Vælg...</option>
							<option>Jeg sørger selv for hjemtransport</option>
							<option>Bus til Kbh. V kl. 23:30</option>
							<option>Bus til Kbh. V kl. 01:00</option>
							<option>Bus til Kbh. V kl. 02:00</option>
							<option>Bus til Taastrup kl. 23:30</option>
							<option>Bus til Taastrup kl. 02:00</option>
							<option>Bus til Slagelse og Ringsted kl. 02:00</option>
							<option>Bus til Aarhus, Aalborg og Saltum kl. 01:00</option>
							<option>Bus til Odense kl. 02.00</option>
							<option>Bus til Hammelev og Rødekro kl. 02:00</option>
						</select>
						<div class="req">*</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<label>Har du madallergier e.l., så vil vi gerne vide det:</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper">
						<input type="text" ng-model="guest.allergies"/>
					</div>
				</div>
			</div>

			<div class="row step2-intro">
				<div class="col-md-offset-3 col-md-6">
					<p>
						Du er en vigtig del af <b>"Vores Carlsberg"</b> og for at gøre <b>"Vores Carlsberg"</b> mere vores, vil vi gerne vide lidt mere om dig via vores få spørgsmål, som du finder nedenstående:
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<label>Hvad drikker du helst?</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper validation">
						<select required ng-model="guest.favoriteBeer">
							<option value="">Vælg...</option>
							<option>Grimbergen Blonde</option>
							<option>Grimbergen Double-Ambrée</option>
							<option>Grimbergen Blanche</option>
							<option>Brooklyn East IPA</option>
							<option>Brooklyn Lager</option>
							<option>Brooklyn Scorcher IPA</option>
							<option>Jacobsen Brown Ale</option>
							<option>Jacobsen Saaz Blonde</option>
							<option>Jacobsen India Pale Ale</option>
							<option>Jacobsen Pale Ale</option>
							<option>Brewmasters India Pale Ale</option>
							<option>Carlsberg Pilsner</option>
							<option>Carlsberg Nordic</option>
							<option>Somersby Apple</option>
							<option>Somersby Blueberry</option>
							<option>Garage Hard Lemonade</option>
							<option>Garage Hard Ginger</option>
							<option>Tuborg Rå</option>
							<option>Tuborg Guld</option>
							<option>Tuborg Classic</option>
							<option>Tuborg Grøn</option>
						</select>
						<div class="req">*</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>Hvad vil du helst tale med din kollega om hen over frokostbordet?</label>
				</div>
				<div class="col-md-5 checkboxes">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6">
								<label class="for-chk" ng-repeat="hobby in hobbies.slice(0, (hobbies.length / 2) + 1)">
									<input type="checkbox"
										   name="selectedHobbies[]"
										   value="{{ hobby.name }}"
										   ng-click="hobbyClick(hobby)"
										   ng-model="hobby.selected"> {{ hobby.name }}
								</label>
							</div>
							<div class="col-sm-6">
								<label class="for-chk" ng-repeat="hobby in hobbies.slice((hobbies.length / 2) + 1, hobbies.length)">
									<input type="checkbox"
										   name="selectedHobbies[]"
										   value="{{ hobby.name }}"
										   ng-click="hobbyClick(hobby)"
										   ng-model="hobby.selected"> {{ hobby.name }}
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-show="isOtherHobbySelected()">
				<div class="col-md-4">
					<label>Beskriv din hobby her:</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper">
						<input type="text" maxlength="25" ng-model="guest.otherHobby" />
						<div class="req">*</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<label>Hvilken sang skal bandet spille?</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper validation">
						<select required ng-model="guest.bandSong">
							<option value="">Vælg...</option>
							<option>Told You So – Christopher</option>
							<option>Kun For Mig – Medina</option>
							<option>Transparent and Glasslike – Carpark North</option>
							<option>Superliga – Nephew</option>
							<option>Dancing Queen – Abba</option>
							<option>Lorteparforhold! – Magtens Korridorer</option>
							<option>Militskvinder - Lars H.U.G</option>
							<option>To Mod Verden – Shaka Loveless</option>
						</select>
						<div class="req">*</div>
					</div>
				</div>
			</div>
			
			@*<div class="row">
				<div class="col-md-offset-3 col-md-6 remark">
					<p>Har du en kollega, der har gjort en ekstra indsats i forbindelse med festen? Så skriv navn og afdeling her, så vi kan sige pænt tak til dem til festen:</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>Navn</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper">
						<input type="text" ng-model="guest.colleagueName" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-1 col-md-3">
					<label>Afdeling</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper">
						<select ng-options="item as item for item in divisions" ng-model="guest.colleagueDivision"></select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-1 col-md-3">
					<label>Kan du fortælle os, hvad de har gjort?</label>
				</div>
				<div class="col-md-5">
					<div class="input-wrapper">
						<textarea ng-model="guest.colleagueDescription"></textarea>
					</div>
				</div>
			</div>*@

			<div class="row validation-msg" ng-if="validationError">
				<div class="col-md-offset-3 col-md-6 remark">
					<p>* angiver et påkrævet felt</p>
				</div>
			</div>

			<div class="row buttons buttons-2">
				<div class="col-sm-12 ">
					<input type="submit" class="btn btn-primary" value="Tilmeld mig" ng-click="submitFinalForm(form2)" />
				</div>
			</div>
		</div>

		@*-------------------------------------------------------------------------*@

		<div ng-if="formFlow === 0">
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<p>Vi er kede af, at du ikke kan komme.</p>
					<p>
						Skulle du fortryde din framelding, kan du altid tilmelde dig på et senere tidspunkt her på hjemmesiden.
					</p>
				</div>
			</div>
		</div>

		<div ng-if="formFlow === 3">
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<p>
						Du er nu tilmeldt <b>"Vores Carlsberg"</b>.
					</p>
					<h3>
						Vi glæder os til at se og fejre dig!
					</h3>
					<p>
						Hvis du ønsker at ændre dine indtastninger, kan du altid besøge hjemmesiden igen og logge ind med dit navn og medarbejdernr.
					</p>
					<p class="center">
						<a href="/" target="_self" class="btn btn-primary">Til start</a>
					</p>
				</div>
			</div>
		</div>
	</form>
	
</div>





