@import "../bootstrap/variables";

/*.theme-black {
  color: $white;

  .bg,
  &.bg,
  .bg-overlay:after,
  &.bg-overlay:after {
    background-color: $black;
  }

  .btn-default {
    @include button-variant($white, $white, $white);
  }

  .play-button {
    border-color: $white;
    .arrow {
      border-color: transparent transparent transparent $white;
    }
  }

  hr {
    border-color: $white;
  }
}

.theme-blue {
  color: $white;

  .bg,
  &.bg,
  .bg-overlay:after,
  &.bg-overlay:after {
    background-color: $brand-primary;
  }

  .btn-default {
    @include button-variant($white, $white, $white);
  }

  .play-button {
    border-color: $white;
    .arrow {
      border-color: transparent transparent transparent $white;
    }
  }

  hr {
    border-color: $white;
  }
}

.theme-gray,
.theme-grey {
  color: $black;

  .bg,
  &.bg,
  .bg-overlay:after,
  &.bg-overlay:after {
    background-color: $gray-lighter;
  }

  .btn-default {
    @include button-variant($black, $black, $black);
  }

  .play-button {
    border-color: $black;
    .arrow {
      border-color: transparent transparent transparent $black;
    }
  }
}

.theme-gray-dark,
.theme-grey-dark {
  color: $white;

  .bg,
  &.bg,
  .bg-overlay:after,
  &.bg-overlay:after {
    background-color: $gray;
  }

  .btn-default {
    @include button-variant($white, $white, $white);
  }

  .play-button {
    border-color: $white;
    .arrow {
      border-color: transparent transparent transparent $white;
    }
  }

  hr {
    border-color: $white;
  }
}

.theme-white {
  color: $black;

  .bg,
  &.bg,
  .bg-overlay:after,
  &.bg-overlay:after {
    background-color: $white;
  }

  .btn-default {
    @include button-variant($black, $black, $black);
  }

  .play-button {
    border-color: $black;
    .arrow {
      border-color: transparent transparent transparent $black;
    }
  }
}*/
