@using System.Configuration
@using System.Globalization
<!DOCTYPE html>

@{
    var cacheBusting = 14;
	var isDebug = bool.Parse(ConfigurationManager.AppSettings["IsDebug"]);
}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="/">
	<title>Vores Carlsberg</title>

    @if (isDebug)
    {
		<link rel="stylesheet" href="css/main.min.css"/>
    }
    else
    {
        <link rel="stylesheet" href="/css/main.min.@(cacheBusting).css" />
    }

</head>

<body ng-app="VoresCarlsberg" data-culture="@CultureInfo.CurrentCulture.Name" config>

    @RenderBody()

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <!--[if lt IE 9]><script src="scripts/ie-shim.min.js"></script><![endif]-->

        <script src="scripts/libs.min.js"></script>

        <script src="scripts/scripts.min.js"></script>

        
    }
    else
    {
        <!--[if lt IE 9]>
        <script src="/scripts/ie-shim.min.@(cacheBusting).js"></script>
        <![endif]-->
		
        <script src="/scripts/libs.min.@(cacheBusting).js"></script>
        <script src="/scripts/scripts.min.@(cacheBusting).js"></script>
    }

</body>

</html>
