<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <appSettings>
    <add key="RequestMeeting.FromAddress" value="noreply@designa.dk" />
    <add key="RequestMeeting.SubjectLine" value="DESIGNA Bricks forespørgsel" />
    <add key="CampaignMonitor.ApiKey" value="bcefc795696cf03eb06209fb00eaf9d6" />
    <add key="CampaignMonitor.ClientId" value="36b9e6877ba97e6a45493ef3fa6881dd" />
    <add key="CampaignMonitor.ListId" value="75411ed2f9df6331f3537be676d5cd71" />
    
    <add key="Facebook.AppId" value="478215035713709" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
		    <network host="mail.noerd.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
	<!--
	OBS OBS OBS!
	På live-serveren skal den hedde sådan her for at det virker:
	<compilation targetFramework="4.5"/>
	-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
		<remove fileExtension=".json" />
		<mimeMap fileExtension=".json" mimeType="application/json" />
		<remove fileExtension=".woff" />
		<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		<remove fileExtension=".eot" />
		<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <rewrite>
      <rules>
        <rule name="Force WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^bricksbydesigna.dk(.*)$" />
          </conditions>
          <action type="Redirect" url="http://www.{C:0}/{R:0}" redirectType="Permanent" />
        </rule>
        
        <rule name="Cachebusting">
          <match url="^(?!files/|mini-profiler-resources/)(.+)\.\d+(\.(js|css|png|jpg|gif)$)" />
          <action type="Rewrite" url="{R:1}{R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <resizer>
    <plugins>
      <add name="MvcRoutingShim" />
      <add name="DiskCache" />
      <add name="PrettyGifs" />
    </plugins>
    <sizelimits imageWidth="0" imageHeight="0" totalWidth="6000" totalHeight="6000" totalBehavior="throwexception" />
  </resizer>
</configuration>